/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

body {
  background: radial-gradient(circle, #10014C 0%, #4E008F 89%);
  background-attachment: fixed;
  overscroll-behavior: none;
  /* Change for mobiles*/
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  color: aliceblue;
}

:root {
  --hr-booking: #ff00aa;
  --form-width: 40vw;
}

#home-main {
  padding: 20px;
  display: flex;
  max-height: 100vh;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 75, 177, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}



.home-images {
  display: flex;
  flex-direction: column;
  pointer-events: none;
  user-select: none;
}

.home-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(224, 99, 255, 0.477);
  outline: rgba(255, 59, 160, 0.849) 2px solid;
  max-width: 50%;
  max-height: 50%;
  border-radius: 10px;
  padding: 0 10px;
  -webkit-box-shadow: 0px 0px 12px 7px rgba(255, 59, 160, 0.849);
  -moz-box-shadow: 0px 0px 12px 7px rgba(255, 59, 160, 0.849);
  box-shadow: 0px 0px 12px 7px rgba(255, 59, 160, 0.849);
}

.home-description h1,
.home-description h2 {
  text-align: center;
}

.home-description p {
  text-align: center;
  max-width: 80%;
  max-height: 100px;
  overflow: auto;
  padding: 5px;
}

#cocktail {
  position: relative;
  left: 24vw;
  bottom: 45vh;
  width: 50vh;
  rotate: 30deg;
  z-index: 0;
}

@media (max-width: 906px) {
  #cocktail {
    position: relative;
    width: 40vh;
    left: 10vw;
    bottom: 20vh;
  }
}

#neon-logo {
  position: relative;
  top: -5%;
  left: -7%;
  rotate: 0deg;
  scale: 1.1;
  z-index: 1;
  animation: flicker 4s linear infinite;
}

@keyframes flicker {

  10%,
  12%,
  64%,
  68%,
  70% {
    filter: brightness(100%);
  }

  11%,
  65%,
  69% {
    filter: brightness(50%);
  }
}

.carousel {
  scroll-behavior: smooth;
  padding: 2rem;
  display: flex;
  overflow-x: scroll;
  height: 90vh;
  scroll-snap-type: x mandatory;
  user-select: none;
  cursor: grab;
  gap: 100px;
}

.carousel::-webkit-scrollbar {
  display: none;
  /* Убираем скроллбар для Webkit-браузеров */
}

.active-slider {
  cursor: grabbing;
}

.menu-card img {
  min-width: 50vw;
  user-select: none;
  border-radius: 10px;
}

.menu-card-header {
  color: aliceblue;
  text-align: center;
}

.menu-card-content {
  color: aliceblue;
  text-align: center;
}

.menu-card {
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}

.carousel img {
  -webkit-box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.25);
}

.carousel h1 {
  text-shadow: 0 0 5px #FFF, 0 0 15px #FFF, 0 0 30px #ff7d7d, 0 0 55px #ff7d7d, 0px -1px 8px rgba(255,255,255,0);
}

#form {
  display: flex;
  flex-direction: column;
  width: var(--form-width);
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}



#form input, select {
  width: var(--form-width);
  background-color: #ffffffe0;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.4rem;
  color: #4E008F;
}

#form input:focus{
  outline: none;
}

#delivery {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 0.8rem;
}

#delivery-heading {
  margin-bottom: 5px;
  text-decoration: underline;
}

.wrap-delivery {
  display: flex;
  width: var(--form-width);
  justify-content: space-between;
}

.wrap-delivery label {
  min-width: 70%;
}

.wrap-delivery input {
  min-width: 50%;
  accent-color: 4E008F;
}

#agreement-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--form-width);
}

#agreement-wrap label {
  font-size: 0.8rem;
  min-width: 80%;
  margin-right: 10%;
}

#agreement-wrap input {
  scale: 1.5;
  accent-color: 4E008F;
}

#form hr {
  width: var(--form-width);
  margin: 10px 0;
  color: var(--hr-booking);
  background-color: var(--hr-booking);
  border-color: var(--hr-booking);
}

#form button {
  width: 10vw;
  margin-left: auto;
  margin-right: auto;
}

hr {
  width: 80%;
  margin: 30px auto;
  border: 1px solid rgba(255, 255, 255, 0.662);
}

footer {
  display: flex;
  min-width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: #4f008f81;
  align-items: center;
  justify-content: center;
}

footer div {
  display: flex;
  margin-bottom: 5px;
  font-weight: 700;
}

footer img {
  width: 20px;
  height: 20px;
  margin-left: 4px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(58deg) brightness(106%) contrast(103%);
  transition: transform 1s ease-in-out;
}

a img:hover {
  transform: rotate(360deg);
}