/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

body {
    background: radial-gradient(circle, #10014C 0%, #4E008F 89%);
    background-attachment: fixed;
    overscroll-behavior: none; /* Change for mobiles*/
}

:root { 
}

#home-main {
  display: flex;
}

.home-description h1, .home-description h2 {
  text-align: center;
}

#cocktail {
  position: relative;
  bottom: 40%;
  width: 80%;
  rotate: 20deg;
}

#neon-logo {
  position: relative;
  top: -15%;
  left: -10%;
}

.carousel {
  scroll-behavior: smooth;
	padding: 2rem;
	display: flex;
	overflow-x: scroll;
	height: 90vh;
	scroll-snap-type: x mandatory;
  user-select: none;
  cursor: grab;
  gap: 100px;
}

.carousel::-webkit-scrollbar {
  display: none; /* Убираем скроллбар для Webkit-браузеров */
}

.active-slider {
  cursor: grabbing;
}

.menu-card img { 
  min-width: 50vw;
  user-select: none;
  border-radius: 10px;
}

.menu-card-header {
  color: aliceblue;
  text-align: center;
}

.menu-card-content {
  color: aliceblue;
  text-align: center;
}

.menu-card {
	scroll-snap-align: center;
	display: flex;
  flex-direction: column;
	border-radius: 3px;
}

#form {
  display: flex;
  flex-direction: column;
}

hr {
  width: 80%;
  margin: 30px auto;
  border: 1px solid rgba(255, 255, 255, 0.662);
}

footer {
  display: flex;
  min-width: 100%;
  position: fixed;
  bottom: 0px;
  align-items: center;
  justify-content: center;
}

footer div {
  display: flex;
  margin-bottom: 5px;
  font-weight: 700;
}

footer img {
  width: 20px;
  height: 20px;
  margin-left: 4px;
  transition: transform 1s  ease-in-out;
}

a img:hover {
  transform: rotate(360deg);
}